    <!-- FOOTER -->
    <footer>

      <!-- CONTAINER -->
      <div class="container">

        <!-- ROW -->
        <div class="row" data-appear-top-offset="-200" data-animated="fadeInUp">

          <div class="col-lg-4 col-md-4 col-sm-6 padbot30">
            <h4><b>News</b> and Events</h4>
            <div class="recent_posts_small clearfix">
              <div class="post_item_img_small">
                <img src="{{ theme.link }}/images/blog/1.jpg" alt="" />
              </div>
              <div class="post_item_content_small">
                <a class="title" href="blog.html" >Chili Bowl on Sunday</a>
                <ul class="post_item_inf_small">
                  <li>10 January 2014</li>
                </ul>
              </div>
            </div>
            <div class="recent_posts_small clearfix">
              <div class="post_item_img_small">
                <img src="{{ theme.link }}/images/blog/2.jpg" alt="" />
              </div>
              <div class="post_item_content_small">
                <a class="title" href="blog.html" >Lent is approaching</a>
                <ul class="post_item_inf_small">
                  <li>14 January 2014</li>
                </ul>
              </div>
            </div>
            <div class="recent_posts_small clearfix">
              <div class="post_item_img_small">
                <img src="{{ theme.link }}/images/blog/3.jpg" alt="" />
              </div>
              <div class="post_item_content_small">
                <a class="title" href="blog.html" >Altar Guild Luncheon</a>
                <ul class="post_item_inf_small">
                  <li>21 December 2013</li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 padbot30 foot_about_block">
            <h4><b>About</b> us</h4>
            <p>We live our mission through regular participation in the Eucharist and the practice of our baptismal promises. Traditional Eucharistic liturgy and fine music are hallmarks of worship at our parish. The Holy Eucharist is celebrated during the week and in five services on Sundays, including ministry to the Spanish-speaking people of the surrounding area. </p>
            <ul class="social">
              <li><a href="javascript:void(0);" ><i class="fa fa-twitter"></i></a></li>
              <li><a href="javascript:void(0);" ><i class="fa fa-facebook"></i></a></li>
              <li><a href="javascript:void(0);" ><i class="fa fa-google-plus"></i></a></li>
              <li><a href="javascript:void(0);" ><i class="fa fa-pinterest-square"></i></a></li>
              <li><a href="javascript:void(0);" ><i class="map_show fa fa-map-marker"></i></a></li>
            </ul>
          </div>

          <div class="respond_clear"></div>

          <div class="col-lg-4 col-md-4 padbot30">
            <h4><b>Contacts</b> Us</h4>

            <!-- CONTACT FORM -->
            <div class="span9 contact_form">
              <div id="note">
                  3601 Russell Road<br>
                  Alexandria, VA 22305<br>
                  703-549-1980<br><br>
              </div>
              <div id="fields">
                <form id="contact-form-face" class="clearfix" action="#">
                  <input type="text" name="name" value="Name" onFocus="if (this.value == 'Name') this.value = '';" onBlur="if (this.value == '') this.value = 'Name';" />
                  <textarea name="message" onFocus="if (this.value == 'Message') this.value = '';" onBlur="if (this.value == '') this.value = 'Message';">Message</textarea>
                  <input class="contact_btn" type="submit" value="Send message" />
                </form>
              </div>
            </div><!-- //CONTACT FORM -->
          </div>
        </div><!-- //ROW -->
      </div><!-- //CONTAINER -->
    </footer><!-- //FOOTER -->


    <!-- MAP -->
    <div id="map">
      <a class="map_hide" href="javascript:void(0);" ><i class="fa fa-angle-right"></i><i class="fa fa-angle-left"></i></a>
      <iframe src="https://maps.google.com/maps?f=q&amp;give%20a%20hand=s_q&amp;hl=en&amp;geocode=&amp;q=3601 Russell Road, Alexandria, VA 22305&amp;ie=UTF8&amp;spn=0.026448,0.039396&amp;z=14&amp;output=embed" ></iframe>
    </div><!-- //MAP -->

  </div>