RewriteCond %{HTTP_HOST} ^gracealex.org [NC]
RewriteRule ^(.*)$ https://www.gracealex.org/$1 [L,R=301]
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteRule ^index\.php$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.php [L]
</IfModule>

# BEGIN EWWWIO

# END EWWWIO