{% extends "partials/base.twig" %}

{% block template %}

    <!-- BLOG -->
    <div class="single_page">
    <section id="blog">

      <!-- CONTAINER -->
      <div class="container">

        <!-- ROW -->
        <div class="row">

          <!-- BLOG BLOCK -->
          <div class="blog_block col-md-12">

            <h1>{{ options.404_title }}</h1>
            <p>{{ options.404_text }}</p>

          </div>


        </div><!-- //ROW -->
      </div><!-- //CONTAINER -->
    </section><!-- //BLOG -->
  </div>
  </div><!-- //PAGE -->



{% endblock %}