{% extends "partials/base.twig" %}

{% block template %}

    <!-- BLOG -->
    <div class="single_page">
    <section id="blog">

      <!-- CONTAINER -->
      <div class="container">

        <!-- ROW -->
        <div class="row">

          <!-- BLOG BLOCK -->
          <div class="blog_block col-md-12">

            <h1>Oops!</h1>
            <p>We couldn't find the page you're looking for.  We've recently re-designed the site.  Please selet an item from the menu or trying searching for what you would like to find.</p>

          </div>


        </div><!-- //ROW -->
      </div><!-- //CONTAINER -->
    </section><!-- //BLOG -->
  </div>
  </div><!-- //PAGE -->



{% endblock %}